In [94]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [95]:
%reload_ext autoreload
%autoreload 2

In [96]:
# Import libraries
import os
import sys
sys.path.append('/Users/shg309/Dropbox/Education/hks_cid_growth_lab/misc/ecomplexity/')
import numpy as np
import pandas as pd
import warnings
from ecomplexity import ComplexityData

In [97]:
# Read example dataset
ROOT = '/Users/shg309/Dropbox/Education/hks_cid_growth_lab/misc/ecomplexity/'
data = pd.read_csv(ROOT + 'data/raw/year_origin_hs92_4.tsv',sep='\t')
data.drop(columns=['export_rca','import_rca','import_val'], inplace=True)
data = data[~data.origin.str.startswith('xx')]
data.head()

   year origin  hs92  export_val
0  1995    ago   105         NaN
1  1995    ago   106         NaN
2  1995    ago   201         NaN
3  1995    ago   202         NaN
4  1995    ago   203         NaN

In [98]:
check = ComplexityData(data,{'time':'year','loc':'origin','prod':'hs92','val':'export_val'})

TIMING: function rename_cols took 0:00:00.251058.

/Users/shg309/Dropbox/Education/hks_cid_growth_lab/misc/ecomplexity/ecomplexity.py:84: UserWarning: NaN value(s) present, coercing to zero(es)
  num = (data_np/data_np.sum(axis=1)[:,np.newaxis,:])

TIMING: function clean_data took 0:00:00.869424.
TIMING: function create_full_df took 0:00:07.395661.
TIMING: function calculate_rca_and_mcp took 0:00:00.154893.
TIMING: function calculate_Mcc_Mpp took 0:00:16.287280.
TIMING: function calculate_Kvec took 0:00:15.781591.
TIMING: function calculate_Kvec took 0:00:00.340671.

In [99]:
# Create pop df to test rpop
from itertools import product

random_pop_df = pd.DataFrame(list(product(np.arange(2000,2010), ['aus','usa','jam'])))
random_pop_df.columns = ['time','loc']
random_pop_df['pop'] = np.random.randint(200000,2e6,len(random_pop_df))
random_pop_df.head()

   time  loc      pop
0  2000  aus  1210580
1  2000  usa  1218822
2  2000  jam  1550177
3  2001  aus   895362
4  2001  usa  1967519

In [100]:
# Test rpop
np.nansum(check.calculate_rpop(random_pop_df))

6532.110353604146

In [101]:
np.where(~np.isnan(pop))

NameError: name 'pop' is not defined

In [ ]:
### Temp
a = pd.DataFrame(list(product(np.arange(2000,2010), ['aus','usa','jam'], ['prod1','prod2'])))
a.columns = ['time','loc','prod']
a['val'] = np.random.randint(200000,2e6,len(a))
a = a[~((a.time==2002) & (a['loc']=='jam'))]
a = a[~((a.time==2003) & (a['loc']=='aus'))]
a = a.set_index(['time','loc','prod'])
# a

In [ ]:
## Temp
index_df = data.head(n=100000).copy().reset_index(drop=True) \
    .rename(columns={'year':'time','origin':'loc'}) \
    .set_index(['time','loc'])
pop_index = pd.MultiIndex.from_product(
            [index_df.index.levels[0], index_df.index.levels[1]],
            names=['time', 'loc'])
random_pop_df.reindex(index=pop_index)
index_df

In [ ]:
### Temp Testing ###
a = np.arange(24).reshape(2,3,4)

In [ ]:
a = data.head()
a.head()